<h1>Editing Article</h1>

<%= render 'form', article: @article %>

<%= link_to 'Show', @article %> |
<%= link_to 'Cancel and return to article listing', articles_path %>
<%= link_to 'About', about_path %>
